<html>
  <head>
    <title>Predict App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <center>
    <h1 class="w3-container w3-blue">The prediction is: {{pred}}

      
    </h1>
    <button class="but" type="button" id="myButton">Back to Home</button>
    </center>

</body>

</html>

<script>
  document.getElementById("myButton").onclick = function() {
    window.location.href = "home";
  };
</script>